body {
    font-family: Arial, sans-serif;
    margin: 0; /* espaçamento externo da página */
    padding: 0; /* espaçamento interno da página */
    background-color: #f4f4f4;
    text-align: center; /* texto centralizado */
}

.cabecalho {
    background-image: linear-gradient(green, blue);
}
header {
    color: white;
    /* 15px (espaçamento interno acima e abaixo) e 0px (direita e esquerda)*/
    padding: 15px 0px;
    font-size: 24px; 
}
nav {
    padding: 10px; /* espaçamento interno do menu */
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* espaço entre os elementos do menu*/
    align-items: center; /* alinhamento na vertical */
}
#links-menu{
    display: flex;
    gap: 20px; /* distância entre os itens do menu*/
    margin-left: 80px;
}
nav a { /* configura os links do menu */
    color: white;
    text-decoration: none; /* não decora os links */
    padding: 10px 15px; /* (10px acima e abaixo) (15px é esquerda e direita)*/
    font-size: 18px;
    background: #0056b3;
    border-radius: 5px; /* cantos arredondados */
}

img {
    width: 120px;
    height: auto;
    margin-right: 80px; /* espaçamento externo à direita */
    border-radius: 10px;
}

.container {
    width: 80%; /* largura de 80% da largura da página */
    background: white;
    border-radius: 10px;
    /* espaçamento externo 20px acima e abaixo */
    /* espaçamento externo auto à direita e à esquerda */
    margin: 20px auto;
    padding: 20px; /* espaçamento interno */ 
    text-align: justify;
}

h2 {
    text-align: center;
}

ol li {
    padding-bottom: 10px;
}

table {
    margin: 0 auto;
}

td {
    text-align: start;
    padding: 10px;
}

.centralizado {
    text-align: center;
    margin-bottom: 0;
}

.laranja {
    background-color: orange;
}

.preto {
    background-color: black;
    color: white;
}

.roxo {
    background-color: purple;
}

.verde {
    background-color: greenyellow;
}

.vermelho {
    background-color: red;
}

.cinza {
    background-color: rgb(187, 187, 187);
}

.azul {
    background-color: rgb(2, 2, 156);
    color: white;
}

.destaque-azul {
    background-color: rgb(219, 219, 252);
    border: 1px solid black;
}

.seta-texto {
    display: flex;
    align-items: center;
}

.destaque-azul img {
    width: 30px;
    margin-right: 2px;
    align-content: baseline;
}

.width-100-azul{
    width:655px;
    margin-top: 40px;
    background-color: rgb(219, 219, 252);
}

.seta-texto img {
    width: 30px;
    margin-right: 2px;
    align-content: baseline;
}

.sublinhado {
    text-decoration: underline;
}

.destaque-amarelo{
    background-color: rgb(238, 248, 174);
    border: 1px solid black;
}

.destaque-amarelo-conteudo, .destaque-azul-conteudo {
    margin-left: 5px;
}

.letra-menor {
    font-size: 12px;
}

.campos, .calcular, .reiniciar {
    margin-bottom: 8px;
}

.calcular button {
    cursor: pointer;
}

input {
    border: 2px solid blue;
}

.calcular {
    display: flex;
}

button {
    padding: auto;
    margin-right: 8px;
    font-size: 1rem;
}

.times {
    border: 2px solid black;
}

.borda-laranja{
    border: 2px solid orange;
}
